* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(img/luxury-home-design-on-budget.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: rgba(90, 45, 15, 0.849);
  height: 100vh;
  text-align: center;
}

header h1 {
  background-color: rgba(90, 45, 15, 0.692);
  width: fit-content;
  margin: 55px auto 0px auto;
  padding: 7px;
  border-radius: 20px;
  color: #fff;
}

section {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 0.767);
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
}
div#divFamily {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(90, 45, 15, 0.308);
  border-radius: 40px 40px 0px 0px;
}
#imagem {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
}
select{
    font-size: 15px;
}
